In [3]:
a=1
b=2.1
c='tear'
d={'a':'apple', 2:3}
e=(4,6,5)
f=([1,2], 'cake')
print(type(a)); print(type(b)); print(type(c)); print(type(d)); print(type(e)); print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'dict'>
<class 'tuple'>
<class 'tuple'>

오른쪽에 있는 정보를 왼쪽에 있는 variable로 assign한다. 따라서 a = 1에서 정보는 1, variable은 a

Print (a)에서 print가 함수, cell by cell로 실행

Variable은 unique하기 때문에 a=2로 바꾸면 정보는 2로 바뀐다.

string : 문자, integer : 정수, float : 소수 (string은 ' ' 로 묶어야함) 

a=[1,'love',[1,'bye']] int, str, list로 이루어진 list. List 안에는 int(integer), str(string)

tuple이 list보다는 보안이 강하다. (단순히 괄호로 묶는 것, a=(1,'love',3)

In [5]:
a={'a':'apple', 'b':'banana'}
print(a['a'])
b=[1,2,3]
print(b[0])

apple
1

순서를 정해서 print할 때, dict에서는 순서에 해당하는 문자를 적어야한다. 나머지는 0,1,2,3...의 순서로 지정한다. -1번째를 입력하면 맨마지막 정보가 출력된다.

In [6]:
a=1
b=2
c=a+b
c

3

In [7]:
a=[1,3]
b=[2,4]
c=a[1]+b[0]
d=a[0]+b[1]
print(c); print(d)

5
5

In [11]:
a='123'
print(type(a))
print(a[0])
print(a[1])
print(a[2])

<class 'str'>
1
2
3

숫자를 ' '로 묶으면 integer과 같게 취급한다.

In [12]:
a=[(1,2,3), (3,5,6)]
print(a[0])
type(a[0])

(1, 2, 3)

tuple

In [48]:
s='abcdef'
print(s[0], s[5], s[-1])

a f f

In [14]:
print(s[1:3], s[:2], s[1:], s[:])

bc ab bcdef abcdef

s[1:3] : s는 1 이상 3 미만 (1,2만), s[1:] : s는 1부터 끝까지
s{:} : 전체

In [49]:
len(s)

6

len는 길이를 나타낸다

In [16]:
s[1]+s[3]*2+s[4:]

'bddef'

In [22]:
s. find('cd')

2

. find()에 문자를 적으면 시작하는 위치를 알려준다.

In [23]:
s. upper()

'ABCDEF'

,upper() & .lower()

In [25]:
s=' I am a little boy. '
result=s.find('boy')
result

15

In [29]:
s.find('a')

3

In [28]:
s.rindex('a')

6

.find()는 위치를 찾아 숫자로 나타내는 것.rindex()라고 하면 뒤에서부터 세고 앞에서부터 센 숫자로 표시한다.

In [31]:
s.strip()

'I am a little boy.'

.strip()이면 불필요한 정보를 지워준다.

In [35]:
s.split(' ')

['', 'I', 'am', 'a', 'little', 'boy.', '']

In [38]:
tokens=s.split(' ')
tokens

['', 'I', 'am', 'a', 'little', 'boy.', '']

In [41]:
s=' '. join(tokens)
s

' I am a little boy. '

In [43]:
s=s.replace('boy', 'girl')
s

' I am a little girl. '

In [44]:
a=1.4
a=int(a)
print(type(a))

<class 'int'>

In [45]:
b='love'
b=str(b)
print(type(b))

<class 'str'>

강제로 class를 바꿀 수 있다.

In [46]:
a=[1,2]
b=[1,2,3]
a+b

[1, 2, 1, 2, 3]

# syntax

In [51]:
a=[1,2,3,4]
for i in a:
    print(i)

1
2
3
4

i에는 a의 원소가 하나씩 들어간다. print(a[0]), print(a[1]) 등으로 나누지 않고 한꺼번에 할 수 있도록 도와준다.

In [53]:
for i in range(2):
    print(a[i])

1
2

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

print(i)는 a에 들어가지 않았기때문에 range 설정에 따라서 출력된다. print(a[i])는 range를 a에 할당한다.

In [56]:
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [57]:
a=['red','green', 'blue', 'purple']
b=[0.2, 0.3, 0.1, 0.4]
for i,s in enumerate(a):
    print(s)

red
green
blue
purple

enumerate는 번호를 매기는 것이다. i에는 index가 들어가고 s에는 a의 값을 할당한다.

In [58]:
for i,s in enumerate(a):
    print(i)

0
1
2
3

In [59]:
for i in enumerate(b):
    print(i)

(0, 0.2)
(1, 0.3)
(2, 0.1)
(3, 0.4)

i,s처럼 나누지않을 경우 한꺼번에 출력된다

In [60]:
for i, s in enumerate(a):
    print("{}:{}%". format(s, i*100))

red:0%
green:100%
blue:200%
purple:300%

In [61]:
for i, s in enumerate(a):
    print("{}:{}%". format(s, b[i]*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%

b[i]로 할당하지 않으면 i에는 index값만 할당된다.

In [62]:
for i, s in zip(a,b):
    print("{}:{}%". format(i,s*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%

for i,s in zip(a,b)로 쓰면 a의 원소를 i에서 받고 b의 원소를 s에서 받는 루프를 생성한다.

zip에서 a,b로 페어되어야하기때문에 variable은 같아야한다.

In [63]:
a=0
if a==0:
    print('yay!')

yay!

In [65]:
a=0
if a!=0:
    print('yay!')

65번째 루프에서 출력이 되지 않은 것은 a=0이기때문이다.

In [66]:
a=0
if a>=0:
    print('yay!')
    print("let's go!")

yay!
let's go!

>= 를 적을 때는 크거나 같다 순서로 써야한다.

In [68]:
a=0
if a!=0:
    print('yay!')
    print("let's go!")
else:
    print('0인데오')

0인데오

In [69]:
for i in range(1,3) :
    for j in range(3,5):
        print(i*j)

3
4
6
8

i는 1,2 j는 3,4이기 떄문에 루프를 돌면 3,4,6,8

In [70]:
for i in range(1,3) :
    print(i)
    for j in range(3,5):
        print(i*j)

1
3
4
2
6
8

print(i)로 1을 먼저 출력한 다음 j의 3,4를 곱한 3,4 출력
후에 2를 출력하고 3,4를 다시 곱해서 6,8 출력

In [71]:
for i in range(1,3):
    for j in range(3,5):
        if j >=4 :
            print(i*j)

4
8

In [72]:
for i in range(1,3):
    if i >=3:
        for j in range (3,5):
            print(i*j)

들여쓰기로 묶여있지 않으면 해당되지 않음. >=3에 해당하는 range가 없기 때문에 출력값이 나오지 않는다.